<div class="featured-categories-container1 module-nav2">
  <div class="module-title">
    {% if section.settings.heading != blank %}
    <h2>{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  <div class="owl-featured-categories owl-carousel owl-theme">
    {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
    <div class="row_items">
      <div class="fcategory-content">
        <div class="image">
          {% if block.settings.link != blank %}          
          <a href="{{ block.settings.link }}" {{ block.shopify_attributes }}>
            {% endif %}
            {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="" class=""/>
            {% endif %}
            {% if block.settings.link != blank %}          
          </a>
          {% endif %}
        </div>
        <div class="content-thumb">
          <h2 class="name">
            <a href="{{ block.settings.link }}">{{ block.settings.link_text }}</a>
          </h2>
          <a href="{{ block.settings.link }}" class="view-more">{{ 'homepage.featured_collections.view_more' | t }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() { 
    $(".owl-featured-categories").owlCarousel({
      autoplaySpeed:  1000 ,
      navSpeed:  1000 ,
      dotsSpeed:  1000 ,
      items :  4 ,
      autoplay :  false ,
      nav:  false ,
      dots:  false ,
      autoplayHoverPause : false,
      margin: 20,
      responsive:{
        0:{
          items: 1,
          nav: false
        },
        480:{
          items: 2,
          nav: false
        },
        768:{
          items: 3
        },
        992:{
          items: 3
        },
        1200:{
          items:  4 		},
      },
      onInitialized: function() {
        owlAction();
      },
      onTranslated: function() {
        owlAction();
      }

    });

    function owlAction() {
      $(".owl-featured-categories .owl-item").removeClass('first');
      $(".owl-featured-categories .owl-item").removeClass('last');
      $(".owl-featured-categories .owl-item").removeClass('before-active');
      $(".owl-featured-categories .owl-item.active:first").addClass('first');
      $(".owl-featured-categories .owl-item.active:last").addClass('last');
      $('.owl-featured-categories .owl-item.active:first').prev().addClass('before-active');
    }
  });
</script>