{% assign product_collection = section.settings.collection %}
<div class="tt_tabsproduct_module multi-rows module-nav2  tabs-category-slider module-title-style2 tabs-style6 " id="product_module{{section.id}}">
  <div class="module-title">
    {% if section.settings.heading != blank %}  
    <h2>{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  <div class="box-module">
    <div class="col-image">
      {% if section.settings.image != blank %}
      <div class="banner-static">
        <div class="image">
          {% if section.settings.link != blank %}          
          <a href="{{ section.settings.link }}" {{ section.shopify_attributes }}>
            {% endif %}
            <img src="{{ section.settings.image | img_url: '270x365' }}" alt="" class="" />
            {% if section.settings.link != blank %}          
          </a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-product">
      <div class="tt-product  owl-carousel owl-theme ">
        {% if section.settings.listing_rows == '1' %}
        {% for product in collections[product_collection].products %}
        <div class="row_items">
          {% include 'product-grid-item' %}
        </div>
        {% endfor %}
        {% else %}
        <div class="row_items">
          {% for product in collections[product_collection].products %}
          {% include 'product-grid-item' %}
          {% if forloop.last == false %}
          {% cycle '','</div><div class="row_items">' %}
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#product_module{{section.id}} .tt-product").owlCarousel({
      loop:  false ,
      margin:  20 ,
      nav:  true ,
      dots:  false ,
      autoplay:   false ,
      autoplayTimeout:  1000 ,
      autoplayHoverPause: true,
      autoplaySpeed:  1000 ,
      navSpeed:  1000 ,
      dotsSpeed:  1000 ,
      lazyLoad: true,

      responsive:{
      0:{
      items: 1,
      nav: false
      },
      480:{
      items: 2,
      nav: false
      },
      768:{
      items: 2
      },
      992:{
      items: 3
      },
      1200:{
      items: 4
      },
      },
      onInitialized: function() {
      owlAction();
    },
      onTranslated: function() {
        owlAction();
      }
  });
  function owlAction() {
    $("#product_module{{section.id}} .owl-item").removeClass('first');
      $("#product_module{{section.id}} .owl-item").removeClass('last');
      $("#product_module{{section.id}} .owl-item").removeClass('before-active');
      $("#product_module{{section.id}} .owl-item.active:first").addClass('first');
      $("#product_module{{section.id}} .owl-item.active:last").addClass('last');
      $('#product_module{{section.id}} .owl-item.active:first').prev().addClass('before-active');
      }
      });
</script>
