<nav id="top" class="hd4">
  <div class="container">
    <div class="container-inner">
      <div class="box box-left">
        {% if section.settings.top_bar_message != blank %}
          <p class="header-text">{{ section.settings.top_bar_message }}</p>
        {% endif %}
      </div>
      <ul class="box box-right">
        <li class="setting">
          <div class="btn-group">
            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
              {{ 'homepage.navigation.my_account' | t }}
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" id="top-links">
              <ul class="ul-account list-unstyled">
                {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                    <li>
                      <a href="/account"
                        ><span>{{ 'homepage.navigation.my_account' | t }}</span></a
                      >
                    </li>
                    <li>
                      <a href="/account/logout" id="customer_logout_link"
                        ><span>{{ 'layout.customer.log_out' | t }}</span></a
                      >
                    </li>
                  {% else %}
                    <li>
                      <a href="/account/login" id="customer_login_link"
                        ><span>{{ 'layout.customer.sign_in' | t }}</span></a
                      >
                    </li>
                    {% if shop.customer_accounts_optional %}
                      <li>
                        <a href="/account/register" id="customer_register_link"
                          ><span>{{ 'layout.customer.create_account' | t }}</span></a
                        >
                      </li>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </ul>
            </div>
          </div>
        </li>
        <li class="currency">
          {% include 'header-currency' %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="hd4">
  <div class="header-inner">
    <div class="container">
      <div class="container-inner">
        <div class="logo-container">
          <div id="logo">
            {% include 'logo' %}
          </div>
        </div>
        <div class="hoz-menu">
          <div class="hozmenu-container">
            <div class="ma-nav-mobile-container">
              {% include 'header-mob-nav', menu: 'section.settings.header_menu_1' %}
            </div>
            <div class="nav-container visible-lg visible-md">
              {% include 'main-menu', c: false %}
            </div>
          </div>
          <div id="sticky-menu" data-sticky="1"></div>
          <script type="text/javascript">
            //<![CDATA[
            var body_class = $('body').attr('class');
            if(body_class.search('common-home') != -1) {
              $('#pt_menu_home').addClass('act');
            }
            var CUSTOMMENU_POPUP_EFFECT =0
            var CUSTOMMENU_POPUP_TOP_OFFSET = 70
            //]]>
          </script>
        </div>
        {% include 'header-cart' %}
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col col-md-3 col-xs-12 col-menu">
          {% include 'header-ver-nav' %}
        </div>
        <div class="col col-md-9 col-xs-12 ">
          {% include 'header-search' %}
          {% if section.settings.header_message != blank %}
            <p class="header-phone">{{ section.settings.header_message }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
