{% if customer %}
  {% assign productID = product.id %}
  {% assign wishlist_tags = customer.tags | join: ',' %}

  {% if wishlist_tags contains productID %}
    {% assign is_wishlisted = true %}
  {% else %}
    {% assign is_wishlisted = false %}
  {% endif %}

  <form method="post" action="/contact" id="wishlist-form-{{ productID }}" accept-charset="UTF-8">
    <input type="hidden" name="form_type" value="contact">
    <input type="hidden" name="utf8" value="✓">
    <input type="text" name="contact[email]" value="{{ customer.email }}">
    <input type="hidden" name="contact[body]" value="Wishlist Update">
    <input type="hidden" name="contact[tags]" id="wishlist-input-{{ productID }}" value="{{ productID }}">

    <button
      type="button"
      class="button btn-wishlist {% if is_wishlisted %}added{% endif %}"
      data-toggle="tooltip"
      title="{{ 'products.product.add_to_wishlist' | t }}"
      onclick="toggleWishlist('{{ productID }}')"
    >
      {% if is_wishlisted %}
        <span>✔ Added to Wishlist</span>
      {% else %}
        <span>♡ Add to Wishlist</span>
      {% endif %}
    </button>
  </form>

  <script type="text/javascript">
        function toggleWishlist(productID) {
      var inputField = document.getElementById('wishlist-input-' + productID);
      var form = document.getElementById('wishlist-form-' + productID);

      if (inputField.value === productID) {
        inputField.value = ''; // Remove from wishlist
      } else {
        inputField.value = productID; // Add to wishlist
      }

      form.submit();
    }
  </script>
{% else %}
  <button
    class="button btn-wishlist"
    type="button"
    data-toggle="tooltip"
    title="{{ 'products.product.add_to_wishlist' | t }}"
    onclick="location.href='/account/login'"
  >
    <span>♡ Add to Wishlist</span>
  </button>
{% endif %}
