<div class="row-{{section.id}} main-row {% if section.settings.fullwidth == true %}full-width{% endif  %}">
  <div class="container">
    <div class="row">
      <div class="main-col col-sm-12 col-md-12">
        <div class="row sub-row">
          <!--Slider Area Start-->
          <div class="sub-col col-sm-12 col-md-12">
            <div class="banner7">
              {% if section.blocks.size > 0 %}
              <div class= "oc-banner7-container" id="Slideshow-{{ section.id }}">
                <div class="flexslider oc-nivoslider our_story">
                  <div class="oc-loading"></div>
                  <div id="oc-inivoslider" class="slides static_video">
                    {% for block in section.blocks %}
                    {% if block.type == 'image' or block.type == 'video' %}
                    {% if block.settings.image != blank %}
                    <img style="display: none; cursor:pointer;" {% if block.type == 'video' %}class="img_static" {% endif %} src="{{ block.settings.image | img_url: '1820x785' }}" alt="" title="#banner7-caption{{ forloop.index }}" />
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% for block in section.blocks %}
                  {% if block.type == 'image' %}
                  <div id="banner7-caption{{ forloop.index }}" {{ block.shopify_attributes }} class="banner7-caption nivo-html-caption nivo-caption move-slides-effect" data-class="slide-movetype1">
                    <div class="timeloading"></div>
                    <div class="banner7-content {{ block.settings.animation_style }}">
                      <div class="text-content" style="top:{{ block.settings.top }};right:{{ block.settings.right }};left:{{ block.settings.left }};width:{{ block.settings.width }};text-align:{{ block.settings.float }};" >
                        {% if block.settings.heading != blank %}  
                        <h1 class="title1" style="font-size:{{ block.settings.heading_size }}; color:{{ block.settings.heading_color }};"><span>{{ block.settings.heading }}</span></h1>
                        {% endif %}
                        {% if block.settings.subheading != blank %}  
                        <h2 class="sub-title" style="font-size:{{ block.settings.subheading_size }};color:{{ block.settings.subheading_color }};"><span>{{ block.settings.subheading }}</span></h2>
                        {% endif %}
                        {% if block.settings.description != blank %}  
                        <div class="banner7-des" style="font-size:{{ block.settings.description_size }};color:{{ block.settings.description_color }};">
                          {{ block.settings.description }}
                        </div>
                        {% endif %}
                        {% if block.settings.slide_link_text != blank %} 
                        <div class="banner7-readmore">
                          <a class="btn" href="{{ block.settings.slide_link }}" style="background:{{ block.settings.link_bg }};color:{{ block.settings.link_color }};">
                            {{ block.settings.slide_link_text }}</a>  
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if block.type == 'video' %}
                  <div id="banner7-caption{{ forloop.index }}" {{ block.shopify_attributes }} class="banner7-caption nivo-html-caption nivo-caption move-slides-effect">
                    <div class="timeloading"></div>
                    <div class="banner7-content {{ block.settings.animation_style }}">
                      <div class="text-content">
                      </div>
                    </div>
                    <div id="cms_play"><img style="display: block; z-index: 99;" src=" {{ 'playing_video.png' | asset_url }}" alt="" width="100"></div>
                    <script>// <![CDATA[
                      $(document).ready(function(){
                        $('#cms_play').click(function(){
                          $(this).hide('fast');
                          $('.nivo-main-image').hide();
                          {% if block.settings.video_type == 'youtube' %}
                          $('.nivo-main-image').after('<iframe class="added_video" id="svid" src="https://www.youtube.com/embed/{{ block.settings.video_src }}?rel=0&showinfo=0&autoplay={{ block.settings.video_autoplay }}" frameborder="0" allowfullscreen></iframe>');
                                                      {% elsif block.settings.video_type == 'vimeo' %}
                                                      $('.nivo-main-image').after('<iframe class="added_video" id="svid" src="https://player.vimeo.com/video/{{ block.settings.video_src }}?color=ffffff&title=0&byline=0&portrait=0&autoplay={{ block.settings.video_autoplay }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
                                                      {% elsif block.settings.video_type == 'mp4' %}
                                                      $('.nivo-main-image').after('<video class="added_video" id="svid" controls autoplay width="100%" height="100%" poster="https://via.placeholder.com/1920x850/ffffff/ffffff" ><source src="{{ block.settings.video_src }}" type="video/mp4"></video>');
                                                      {% endif %}
                                                      });
                                                      });
                                                      {% unless block.settings.video_type == 'mp4' and block.settings.video_autoplay == false %}
                                                      $('#cms_play').click();
                                                      {% endunless %}
                                                      // ]]></script>
                  </div>
                  {% endif %}
                  {% endfor %}
                  <script type="text/javascript">
                    $(window).load(function() {
                      $('#oc-inivoslider').nivoSlider({
                        effect:    "random"  ,
                        slices: 15,
                        boxCols: 8,
                        boxRows: 4,
                        manualAdvance:  false  ,
                        animSpeed: 500,
                        pauseTime:   {{ section.settings.autoplay_speed }}0,
                        startSlide: 0,
                        controlNav:   true  ,
                        directionNav:   true  ,
                        controlNavThumbs: false,
                        pauseOnHover:   true  ,
                        prevText: '<i class="ion-chevron-left"></i>',
                        nextText: '<i class="ion-chevron-right"></i>',
                        afterLoad: function(){
                          $('.oc-loading').css("display","none");
                          $('.timeloading').css('animation-duration'," {{ section.settings.autoplay_speed }}0ms ");
                                                },						
                                                });
                        });
                  </script>
                </div>
              </div>
              {% endif %}
            </div>  
          </div>
        </div>
        <!--End of Slider Area-->
      </div>
    </div>
  </div>
</div>