<div class="main-row slider-group {% if section.settings.fullwidth == true %}full-width{% endif  %}">
  <div class="container">
    <div class="row">
      <div class="main-col col-sm-12 col-md-12">
        <div class="row sub-row {{ section.id }}">
          <div class="sub-col col-sm-12 col-md-9">
            <div class="banner7">
              {% if section.blocks.size > 0 %}
              <div class= "oc-banner7-container" id="Slideshow-{{ section.id }}">
                <div class="flexslider oc-nivoslider">
                  <div class="oc-loading"></div>
                  <div id="oc-inivoslider1" class="slides">
                    {% for block in section.blocks %}
                    {% if block.type == 'image' %}
                    {% if block.settings.image != blank %}
                    <img style="display: none;" src="{{ block.settings.image | img_url: '570x516' }}" alt="" title="#banner7-caption{{ forloop.index }}" />
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% for block in section.blocks %}
                  {% if block.type == 'image' %}
                  <div id="banner7-caption{{ forloop.index }}" {{ block.shopify_attributes }} class="banner7-caption nivo-html-caption nivo-caption move-slides-effect" data-class="slide-movetype{{ forloop.index }}">
                    <div class="timeloading"></div>
                    <div class="banner7-content {{ block.settings.animation_style }}">
                      <div class="text-content" style="top:{{ block.settings.top }};right:{{ block.settings.right }};left:{{ block.settings.left }};width:{{ block.settings.width }};text-align:{{ block.settings.float }};" >
                        {% if block.settings.heading != blank %}  
                        <h1 class="title1" style="font-size:{{ block.settings.heading_size }}; color:{{ block.settings.heading_color }};"><span>{{ block.settings.heading }}</span></h1>
                        {% endif %}
                        {% if block.settings.subheading != blank %}  
                        <h2 class="sub-title" style="font-size:{{ block.settings.subheading_size }};color:{{ block.settings.subheading_color }};"><span>{{ block.settings.subheading }}</span></h2>
                        {% endif %}
                        {% if block.settings.description != blank %}  
                        <div class="banner7-des" style="font-size:{{ block.settings.description_size }};color:{{ block.settings.description_color }};">
                          {{ block.settings.description }}
                        </div>
                        {% endif %}
                        {% if block.settings.slide_link_text != blank %} 
                        <div class="banner7-readmore">
                          <a class="btn" href="{{ block.settings.slide_link }}" style="background:{{ block.settings.link_bg }};color:{{ block.settings.link_color }};">
                            {{ block.settings.slide_link_text }}</a>  
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                  <script type="text/javascript">
                    $(window).load(function() {
                      $('#oc-inivoslider1').nivoSlider({
                        effect:    "random"  ,
                        slices: 15,
                        boxCols: 8,
                        boxRows: 4,
                        manualAdvance:  false  ,
                        animSpeed: 500,
                        pauseTime:   {{ section.settings.autoplay_speed }}  ,
                        startSlide: 0,
                        controlNav:   true  ,
                        directionNav:     false   ,
                        controlNavThumbs: false,
                        pauseOnHover:   true  ,
                        prevText: '<i class="ion-chevron-left"></i>',
                        nextText: '<i class="ion-chevron-right"></i>',
                        afterLoad: function(){
                        $('.oc-loading').css("display","none");
                        $('.timeloading').css('animation-duration'," {{ section.settings.autoplay_speed }}ms ");
                      },						
                                                       });
                      if ($(".hd1slider").length) {
                        $(".colhd1").remove();
                        $(".hd1.sub-col").css("display", "block");
                        $(".hd1.sub-col").insertBefore(".{{section.id}} .hd1slider");
                                                       }
                                                       });
                  </script>                                       
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="sub-col col-sm-12 col-md-3">
            <div class="banner-static static-top-volga1">
              {% if section.blocks.size > 0 %}
              {% for block in section.blocks %}
              {% if block.type == 'sideimage' %}
              {% if block.settings.link != blank %}    
              <div class="col">
                <div class="image">
                  <a href="{{ block.settings.link }}" {{ block.shopify_attributes }}>
                    {% endif %}
                    {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | img_url: 'master' }}" alt=""/>
                    {% endif %}
                    {% if block.settings.link != blank %}          
                  </a>
                </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
