{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
{% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<!--blog main area -->
<div class="container">
  {% include 'breadcrumb' %}
  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="article-container">
        {% if article.image %}
        <a href="{{ article | img_url: 'master' }}">
          <img class=" lazy" src="{{ article | img_url: 'master' }}" alt="">
        </a>
        {% endif %}
        <div class="article-title">
          {{ article.title }}
        </div>
        <div class="article-date">
          {{ 'blogs.article.by' | t }}: {{ article.author }} - 
          <time datetime="{{ article.published_at | date }}">
            {{ article.published_at | date: '%d/%m/%Y' }}
          </time>  
        </div>
        <div class="article-description">
          <p>{{ article.content }}</p>
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
          <!-- AddThis Button END -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--End blog area -->